### MessageServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:findById(int messageID)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:findById(int messageID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:findByUser(String userID, Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:findByUser(String userID, Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:create(Message message)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:create(Message message)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:delById(int messageID)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:delById(int messageID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:update(Message message)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:update(Message message)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:confirmMessage(int messageID)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:confirmMessage(int messageID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:rejectMessage(int messageID)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:rejectMessage(int messageID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:findWaitState(Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:findWaitState(Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageServiceImpl.java:findPassState(Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.MessageServiceImplTest.java:findPassState(Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



### MessageVoServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.MessageVoServiceImpl.java:returnMessageVoByMessageID(int messageID)`
**测试函数**：`test.java.com.demo.service.impl.MessageVoServiceImplTest.java:returnMessageVoByMessageID(int messageID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.MessageVoServiceImpl.java:returnVo(List<Message> messages)`
**测试函数**：`test.java.com.demo.service.impl.MessageVoServiceImplTest.java:returnVo(List<Message> messages)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



### NewsServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.NewsServiceImpl.java:findAll(Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.NewsServiceImplTest.java:findAll(Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.NewsServiceImpl.java:findById(int newsID)`
**测试函数**：`test.java.com.demo.service.impl.NewsServiceImplTest.java:findById(int newsID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.NewsServiceImpl.java:create(News news)`
**测试函数**：`test.java.com.demo.service.impl.NewsServiceImplTest.java:create(News news)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.NewsServiceImpl.java:delById(int newsID)`
**测试函数**：`test.java.com.demo.service.impl.NewsServiceImplTest.java:delById(int newsID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.NewsServiceImpl.java:update(News news)`
**测试函数**：`test.java.com.demo.service.impl.NewsServiceImplTest.java:update(News news)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



### OrderServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:findById(int OrderID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:findById(int OrderID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:findDateOrder(int venueID, LocalDateTime startTime, LocalDateTime startTime2)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:findDateOrder(int venueID, LocalDateTime startTime, LocalDateTime startTime2)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:findUserOrder(String userID, Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:findUserOrder(String userID, Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:updateOrder(int orderID, String venueName, LocalDateTime startTime, int hours, String userID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:updateOrder(int orderID, String venueName, LocalDateTime startTime, int hours, String userID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:submit(String venueName, LocalDateTime startTime, int hours, String userID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:submit(String venueName, LocalDateTime startTime, int hours, String userID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:delOrder(int orderID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:delOrder(int orderID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:confirmOrder(int orderID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:confirmOrder(int orderID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:finishOrder(int orderID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:finishOrder(int orderID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:rejectOrder(int orderID)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:rejectOrder(int orderID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:findNoAuditOrder(Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:findNoAuditOrder(Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderServiceImpl.java:findAuditOrder()`
**测试函数**：`test.java.com.demo.service.impl.OrderServiceImplTest.java:findAuditOrder()`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



### OrderVoServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.OrderVoServiceImpl.java:returnOrderVoByOrderID(int orderID)`
**测试函数**：`test.java.com.demo.service.impl.OrderVoServiceImplTest.java:returnOrderVoByOrderID(int orderID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.OrderVoServiceImpl.java:returnVo(List<Order> list)`
**测试函数**：`test.java.com.demo.service.impl.OrderVoServiceImplTest.java:returnVo(List<Order> list)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



### UserServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:findByUserID(String userID)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:findByUserID(String userID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:findById(int id)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:findById(int id)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:findByUserID(Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:findByUserID(Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:checkLogin(String userID, String password)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:checkLogin(String userID, String password)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:create(User user)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:create(User user)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:delByID(int id)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:delByID(int id)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:updateUser(User user)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:updateUser(User user)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.UserServiceImpl.java:countUserID(String userID)`
**测试函数**：`test.java.com.demo.service.impl.UserServiceImplTest.java:countUserID(String userID)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



### VenueServiceImpl
**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:findByVenueID(int id)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:findByVenueID(int id)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:findByVenueName(String venueName)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:findByVenueName(String venueName)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:findAll(Pageable pageable)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:findAll(Pageable pageable)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:findAll()`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:findAll()`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:create(Venue venue)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:create(Venue venue)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:update(Venue venue)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:update(Venue venue)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:delById(int id)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:delById(int id)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



**测试对象**：`src.main.java.com.demo.service.impl.VenueServiceImpl.java:countVenueName(String venueName)`
**测试函数**：`test.java.com.demo.service.impl.VenueServiceImplTest.java:countVenueName(String venueName)`
| 用例编号 | 用例描述 | 预期结果 | 测试结果 | 结论 |
|:--------:|:--------:|:--------:|:--------:|:----:|
|          |          |          |          |      |
|          |          |          |          |      |
|          |          |          |          |      |



